.scale-container {
    background-color: antiquewhite;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to right, #0f6fbd, white, #0f6fbd);
}

.marker {
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: crimson;
    z-index: 3;
}

.target {
    margin-left: 1%;
    position: absolute;
    width: 20%;
    height: 82px;
    display: flex;
    top: 0;
    z-index: 2;
    transition: ease .5s;
}

.points {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    background-color: orangered;
}

.three {
    background-color: coral;
}

.two {
    background-color: cornflowerblue;
}

.scale {
    margin-top: 24px;
    position: absolute;
    height: 82px;
    width: 98%;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    border-radius: 11px;
}

.indents {
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.indent {
    width: 1.5px;
    background-color: black;
}

.short {
    height: 15%;
}

.mid {
    height: 25%;
}

.long {
    height: 50%;
}

.midpoint {
    margin-top: 112px;
    color: red;
    position: relative;
}

.controller {
    width: 17%;
    min-width: 135px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.controller .far {
    cursor: pointer;
    font-size: 2.5em;
}

.ha-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
