.scoreboard-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.team-score {
    text-align: center;
    width: 50%;
    background-color: white;
}

.turn {
    /* background-color: orange; */
    background-image: linear-gradient(to right, white, orange, white);
}