.game {
    align-content: center;
    height: 100vh;
    background-color: antiquewhite;
}

.button-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 8px;
    background-image: linear-gradient(to right, #0f6fbd, white, #0f6fbd);
}

button {
    margin: auto 0;
}