.spectrum-container {
    display: flex;
    flex-direction: column;
    height: 28%;
}

.spectrum {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.left {
    background-color: white;
}

.right {
    background-color: orange;
}

.spectrum-container .fas {
    margin-top: -4%;
    position: absolute;
    font-size: 3em;
}
